*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.mode {
    width: 100%;
    height: 4em;
    /* background-color: aqua; */
    z-index: 200;
}
#model{
    z-index: 200;
}
.dode {
    width: 4em;
    height: 4em;
    padding-top: 5px;
    bottom: 0;
}
.dode:hover{
    cursor: pointer;
}
.dark {
    background-color: #2f2a33;
    color: white;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
li a{
    font-size: 29px;
    text-decoration: none;
    color: #000;
}
li a:hover{
    color: #cbb862;
}
li a::after{
    color: #CBB854;
    text-emphasis: filled double-circle #ffb703;
}
header{
    position: fixed;
    /* background-color: aqua; */
    width: 100%;
    height: 4.5em;
    display: flex;
    align-items: center;
    background-color: transparent;
}
/* .header{
    position: fixed;
    background-color: aqua;
    width: 100vw;
    height: 4.5em;
    background-color: rgba(255, 255, 255);
    filter: blur(7px);
    z-index: 100;
} */
#home{
    width: 100%;
    height: 53em;
    /* background-color: rgb(204, 255, 250); */
    display: flex;
}
.foto{
    /* background-color: rgb(170, 255, 0); */
    width: 55%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* position: absolute; */

}
img{
    width: 29em;
    height: 35em;
    border-radius: 49%;
    position: relative;
    bottom: 130px;
}
.blue{
    background-color: #AA5353;
    width: 440px;
    height: 410px;
    border-radius: 370px;
    display: flex;
    justify-content: center;
    position: relative;
    /* display: flex;
    position: relative;
    justify-content: center;
    top: 2.5em; */
    right: 3em;
}
/* .kalter{
    z-index: -100;
} */
.kl3{
    background-color: #64AB67;
    width: 360px;
    height: 160px;
    border-radius: 150px;
    transform: rotate(30deg);
    transform-origin: 0 0 ;
    left: 15em;
    top: 7em;
    position: relative;
    right: 3em;
}
.kl4{
    background-color: #64AB67;
    width: 90px;
    height: 90px;
    border-radius: 150px;
    left: 10em;
    top: 10em;
    position: relative;
    right: 3em;
}
.intro{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
p{
    font-size: 50px;
    font-weight: 600;
}
ul li{
    font-size: 25px;
}
/* .infor{
    position: absolute;
    top: 10em;
} */
.infoeks2{
    padding-left: 4em;
}
.infoeks2 p{
    font-size: 30px;
    font-weight: 400;
    width: 80%;
    padding-left: 5px;
}
span{
    color: #64AB67;
}
.icons{
    width: 22em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
img.ic{
    width: 4em;
    height: 4em;
    border-radius: 0;
    bottom: 0;
    padding: 0;
}




















#education{
    margin-top: 14em;
    /* background-color: gold; */
    height: 53em;
    width: auto;
    padding-top: 5em;
    display: flex;
    justify-content: center;
}
.ri,
.le{
    width: 50%;
    height: 41em;
    display: flex;
    align-items: center;
}
.ri{
    border-left: 3px solid #00BFA6;
    display: flex;
    flex-direction: column;
}
.le{
    border-right: 3px solid #00BFA6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.le p{
    padding-left: 5em;
    padding-bottom: 1em;
    font-size: 35px;
}
.le li{
    padding-left:5em ;
}
#right {
    width: 95%;
    /* margin-left: calc(50% - 0px); */
    /* border-left: 1px solid blue; */
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}

#left {
    width: 95%;
    /* border-right: 1px solid blue; */
    display: flex;
    flex-direction: column;
    padding-right: 2em;
}
.rreth-3,
.rreth-4{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: #00BFA6;
    /* position: relative; */
}
.rreth-3{
    position: relative;
    left: 46.9em;
    top: -1em;
}
.rreth-4{
    position: relative;
    left: -46.7em;
    top: 40em;
}
.ri p{
    padding-left: 0.6em;
    padding-bottom: 1em;
    font-size: 35px;
}
#education img{
    width: 32em;
    height: 27em;
    border-radius: 0;
    position: absolute;
    bottom: -147em;
    z-index: -100;
    left: 2em;
}
#zi{
    width: 100%;
    height: 20em;
    background: #111;
}
footer {
    height: auto;
    width: 100%;
    /* padding-top: 20px; */
    color: #fff;
    background: #111;
    padding-bottom: 40px;
    text-align: center;
    /* display: flex; */
}

.footer-content {
    height: 10em;
    /* background-color: #44bae8; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-weight: 500px;
    text-transform: capitalize;
    font-size: 30px;
}

.footer-content p {
    max-width: 500px;
    font-size: 22px;
    color: #cacdd2;
}

.footer-bottom {
    background: #111;
    width: auto;
    text-align: center;
    padding-bottom: 25px;
    padding-left: 20px;
}

.footer-bottom p {
    float: left;
    font-size: 22px;
    word-spacing: 2px;
    text-transform: capitalize;
    word-spacing: 2px;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 21px;
    text-decoration: none;
}
.dode-dark {
    filter: invert(100%);
}
.all{
    filter: invert(100%);
}
#skill{
    width: 98.8vw;
    height: 53em;
    /* background-color: violet; */
    display: flex;
    flex-wrap: wrap;
    /* overflow: -moz-hidden-unscrollable(x,y); */
    margin-top: 8em;
    padding-top: 7em;
}
.topleft,
.topright{
    margin-top: 20px;
}
.topleft{
    width: 55%;
    height: 40%;
    /* background-color: red; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
/* .randomflex{
    width: 100%;
    position: relative;
    display: flex;
    height: 90%;
    z-index:-0.1;
} */
.hards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 90%;
    /* background-color: aqua; */
    /* position: relative; */
    border-right: 3px solid #63BEFF;
}
#hs2{
    /* position: r; */
    top: 0.5em;
    z-index: -100;
    font-size: 35px;
    color: #64AB67;
}
#ss2{
    font-size: 35px;
    color: #64AB67;
    /* top: -10em; */
}
.softs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 90%;
    border-left: 3px solid #63BEFF;
    /* background-color: rgb(47, 255, 0); */
    /* position: relative; */
}
#hardskill {
    display: flex;
    flex-direction: column;
    width: 60%;
    width: auto;
    /* position: relative; */
    top: -2.7em;
}
#softskill {
    display: flex;
    flex-direction: column;
    width: auto;
}
.topright{
    width: 45%;
    height: 55%;
    /* background-color: grey; */
    display: flex;
    justify-content: center;
}
/* .foto1,
.foto2{
    width: 22em;
    height: 22em;
    z-index: -100;
} */
.foto1{
    top: -7em;
    left: 10em;
    /* width: 60em; */
    height: 18em;
    filter: contrast(100em);
    border-radius: 0;
}
/* .foto2{
    right: -10em;
    top: -19em;
    width: 28em;
    height: 28em;
    border-radius: none;
} */
.bottomleft{
    width: 40%;
    height: 50%;
    /* background-color: blue; */
    /* position: relative; */
    bottom: 5%;
}
.foto5{
    /* width: 53em;
    height: 40em; */
    top: -5em;
    left: 5em;
    width: 32em;
    height: 32em;
    border-radius: none;
    filter: contrast(100px);
    z-index: -100;
}
.bottomright{
    width: 60%;
    height: 50%;
    /* background-color: green; */
    /* position: relative; */
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hobbys{
    display: flex;
    flex-direction: column;
}
#hobin{
    font-size: 35px;
    color: #AA5353;
}
#interest{
    display: flex;
    flex-direction: column;
}
.rreth-1,
.rreth-2{
    width: 1.5em;
    height: 1.5em;
    background-color: #63BEFF;
    border-radius: 50%;
    z-index: -100;
}
.rreth-1{
    position: relative;
    top: -10em;
    left: 25.4em;
}
.rreth-2{
    position: relative;
    top: 10em;
    right: 25.4em;
}
#skill{
    width: 98.8vw;
    height: 53em;
    /* background-color: violet; */
    display: flex;
    flex-wrap: wrap;
    /* overflow: -moz-hidden-unscrollable(x,y); */
    margin-top: 8em;
    padding-top: 7em;
}
.topleft,
.topright{
    margin-top: 20px;
}
.topleft{
    width: 55%;
    height: 40%;
    /* background-color: red; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
/* .randomflex{
    width: 100%;
    position: relative;
    display: flex;
    height: 90%;
    z-index:-0.1;
} */
.hards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 90%;
    /* background-color: aqua; */
    /* position: relative; */
    border-right: 3px solid #63BEFF;
}
#hs{
    /* position: r; */
    top: 0.5em;
    z-index: -100;
    font-size: 35px;
}
#ss{
    font-size: 35px;
}
.softs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 90%;
    border-left: 3px solid #63BEFF;
    /* background-color: rgb(47, 255, 0); */
    /* position: relative; */
}
#hardskill {
    display: flex;
    flex-direction: column;
    width: 60%;
    width: auto;
    /* position: relative; */
    top: -2.7em;
}
#softskill {
    display: flex;
    flex-direction: column;
    width: auto;
}
.topright{
    width: 45%;
    height: 55%;
    /* background-color: grey; */
}
/* .foto1,
.foto2{
    width: 25em;
    height: 25em;
    z-index: -100;
} */
.foto6{
    top: 5em;
    left: -4em;
    border-radius: 0;
    width: 30em;
    height: 20em;
    z-index: -100;
}
/* .foto2{
    right: -10em;
    top: -19em;
    width: 32em;
    height: 30em;
} */
.bottomleft{
    width: 40%;
    height: 50%;
    /* background-color: blue; */
    /* position: relative; */
    bottom: 5%;
}
.foto3{
    width: 53em;
    height: 40em;
    top: -9em;
    left: -6em;
}
.bottomright{
    width: 60%;
    height: 50%;
    /* background-color: green; */
    /* position: relative; */
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hobbys{
    display: flex;
    flex-direction: column;
}
#hobin{
    font-size: 35px;
    color: #7050EC;
}
#interest{
    display: flex;
    flex-direction: column;
}
.rreth-1,
.rreth-2{
    width: 1.5em;
    height: 1.5em;
    background-color: #63BEFF;
    border-radius: 50%;
    z-index: -100;
}
.rreth-1{
    position: relative;
    top: -10em;
    left: 25.4em;
}
.rreth-2{
    position: relative;
    top: 10em;
    right: 25.4em;
}